[submodule "submodules/pfetch"]
	path = submodules/pfetch
	url = https://github.com/dylanaraps/pfetch
[submodule "submodules/neofetch"]
	path = submodules/neofetch
	url = https://github.com/dylanaraps/neofetch
